<!-- announcements list -->
<ng-container *ngIf="announcements.length > 0">
  <div class="card mb-2" *ngFor="let announcement of announcements">
    <div class="card-body">
      <p class="card-text">{{announcement.content}}</p>
      <p class="card-title text-end">Created On: {{announcement.createdOn | date:'medium'}}</p>
      <a href="#" class="btn btn-primary" (click)="onDelete(announcement.id)">Delete</a>
    </div>
  </div>
</ng-container>
<p *ngIf="announcements.length == 0" class="p-2 fs-6 text-center"> Please create new announcements to see them here </p>
