<div class="container">
  <!-- form add new announcement -->
  <app-announcement-create></app-announcement-create>
<!--  <form [formGroup]="announcementContentFormGroup">-->
<!--    <div class="mb-3">-->
<!--      <p for="announcementContent" class="form-label">Announcement</p>-->
<!--      <input-->
<!--        id="announcementContent"-->
<!--        formControlName="announcementContent"-->
<!--        placeholder="Please enter you announcement content ..."-->
<!--        class="form-control">-->
<!--    </div>-->
<!--    <button type="button" class="btn btn-primary">Create Announcement</button>-->
<!--    &lt;!&ndash;    <button type="submit">Create Announcement</button>&ndash;&gt;-->
<!--  </form>-->


  <!-- filter-labels -->
  <div class="d-flex bd-highlight align-items-center justify-content-end">




    <div class="p-2 bd-highlight fs-6">View: </div>

<!--    <div class="pt-2 pb-2 p-l-2 bd-highlight">-->
<!--      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">-->
<!--        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="today" (click)="changeFilter($event)" checked="true">-->
<!--        <label class="btn btn-outline-primary" for="btnradio1">Today</label>-->

<!--        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="7days">-->
<!--        <label class="btn btn-outline-primary" for="btnradio2">Last 7 days</label>-->

<!--        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value="lastmonth">-->
<!--        <label class="btn btn-outline-primary" for="btnradio3">Last Month</label>-->

<!--        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" value="all">-->
<!--        <label class="btn btn-outline-primary" for="btnradio4">All</label>-->
<!--      </div>-->
<!--    </div>-->

    <div class="pt-2 pb-2 p-l-2 bd-highlight">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <ng-container *ngFor="let option of filterOptions">
          <input type="radio" class="btn-check" name="btnradio" [id]="'btnradio' + option.value" autocomplete="off" [value]="option.value" (click)="onFilterChange($event)" checked="true">
          <label class="btn btn-outline-primary" [for]="'btnradio' + option.value">{{option.name}}</label>
        </ng-container>
      </div>
    </div>

  </div>


  <!-- announcements list -->
  <app-announcement-list></app-announcement-list>

  <!--  <div class="card mb-2" *ngFor="let announcement of announcementsList">-->
<!--    <div class="card-body">-->
<!--      <p class="card-text">{{announcement.content}}</p>-->
<!--      <p class="card-title text-end">Created On: {{announcement.createdOn}}</p>-->
<!--      <a href="#" class="btn btn-primary">Delete</a>-->
<!--    </div>-->
<!--  </div>-->

</div>
